
*{  
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0%;
    padding: 0%;
}
li a{
    color: white;
}
#find{
    color: white;
}
#preloader {
    background: white url(https://online.kfc.co.in/KFC_Loader_Gif.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
#strat_order{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 70px;
    background-color: #202124;
    color: white;        
}
#h3{
    margin-top: 20px;
    margin-left: 600px;
}
#btn_red{
    cursor: pointer;
    margin-top: 10px;
    background-color: #e4002b;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: white;
    letter-spacing: 1px;
}
.kfc-posters{
    cursor: pointer;
    height: 520px;
}
.threeLines {
    width: 50px;
    height: 30px;
    background-image: repeating-linear-gradient(90deg, rgb(228, 0, 43), rgb(228, 0, 43) 10px, rgb(255, 255, 255) 0px, rgb(255, 255, 255) 20px);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-left: 13%;
}   
#HEADIng{
    margin-top: 30px;
    margin-left: 13%;
}
#heading_plus{
    display: flex;
}
#heading_BROWSE{
    margin-top: 100px;
    margin-left: 16%;
}
#line_grey{
    width: 67%;
    height: 2px;
    background-color: rgb(180, 174, 174);
    margin-top: 116px;
    margin-left: 10px;
}
#first_container{
    margin-top: 50px;
    margin-left: 300px;
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: auto; 
}
#small_boxex{
    cursor: pointer;
    height: 300px;
    margin-right: 30px;
    text-align: center;
}
#small_boxex>img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}
#small_boxex>h4{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black
}
span {
    content: "\27F6";
}
#btn_red:hover{
    background-color: #e9264a;
}
